@model List<User>

@{
    Layout = "_Layout";
}

<h2>Listado de Usuarios</h2>
@if (Model.Count == 0)
{
    <p>No users available.</p>
}
else
{
    @foreach (var user in Model)
    {
        @user.FullName @user.Password @user.Id <br/>
    }   
}
